/* src/pages/Checkout.css */
.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.checkout-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.checkout-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
}

.product-description {
    margin: 10px 0;
}

.product-price,
.total-price {
    font-size: 18px;
    margin: 10px 0;
}

.quantity-label {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#payment-form {
    display: flex;
    flex-direction: column;
}

.sq-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkout-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}
