.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.dashboard-header {
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  background-color: #f9f9f9;
  box-shadow:#ddd;
  
}

.dashboard-content {
  display: flex;
  flex: 1;
  overflow: auto; /* Ensure content is scrollable */
}

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.product-form {
  flex: 1;
  padding: 1rem;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.product-list-section {
  flex: 2;
  padding: 1rem;
  overflow-y: auto;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.product-item.highlight {
  border-color: #007bff;
}

.product-image {
  max-width: 100px;
  height: auto;
}

.error-message {
  color: red;
}

button {
  margin: 0.5rem 0;
}

.product-info p {
  margin: 5px 0;
  color: #555;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
}

.edit-button, .delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}