.product-details-container {
    text-align: center;
}
.product-details-buttons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px;
    text-align: center;
}

.product-detail-image {
    max-width: 400px;
    height: auto;
    padding: 10px;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure image is treated as a block element */
    border-radius: 10px;
}

.review-button, .go-back-button {
    text-align: center;
    display: inline-block; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-button {
    background-color: #28a745;
    color: white;
}

.review-button:hover {
    background-color: #218838;
}

.go-back-button {
    background-color: #007bff;
    color: white;
}

.go-back-button:hover {
    background-color: #0056b3;
}
/* src/pages/ProductDetails.css */

.success-message {
    font-size: 16px;
    margin-top: 10px;
}
.error-message {
    color: red; /* Set the text color for the error message */
    background: transparent; /* Ensure the background is transparent */
    padding: 10px; /* Optional: Add padding if needed */
    border: 1px solid red; /* Optional: Add a border to enhance visibility */
    border-radius: 4px; /* Optional: Add rounded corners for better aesthetics */
    margin-bottom: 10px; /* Optional: Add margin for spacing */
}