.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    padding: 20px;
}

.profile-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center; /* Center text and inputs inside profile-card */
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px; /* Center image horizontally */
    border: 3px solid #ddd;
}

.profile-input {
    width: calc(100% - 22px); /* Adjusted to fit within padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.profile-input-image {
    margin-bottom: 20px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-email-label {
    font-size: 18px;
    font-weight: bold;
}

.profile-email {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-textarea {
    width: calc(100% - 22px); /* Adjusted to fit within padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.profile-section {
    margin-bottom: 20px;
}

.social-links p {
    margin: 5px 0;
}

.social-links a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 16px;
}

.profile-actions {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}

.edit-button, .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.edit-button {
    background-color: #4CAF50;
}

.logout-button {
    background-color: #f44336;
}
