.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.profile-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 15px;
    border: 4px solid #ff9966;
}

.profile-name {
    font-size: 2em;
    font-weight: 600;
    margin: 10px 0;
    color: #333;
}

.profile-email {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}

.profile-details,
.profile-section {
    margin: 20px 0;
    text-align: left;
}

.profile-details p {
    text-align: center;
}
.profile-details h2,
.profile-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.profile-section p {
    text-align: center;
}
.profile-textarea,
.profile-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

.social-links p a {
    color: #ff9966;
    text-decoration: none;
}

.social-links p a:hover {
    text-decoration: underline;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}

.logout-button {
    background-color: rgb(172, 32, 32);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4;
}