/* SignupPage.css */

.signup-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: linear-gradient(135deg, #f9f9f9, #e4e7ec);
    font-family: 'Arial', sans-serif;
}

.signup-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #d8ebf7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.signup-button {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:disabled {
    background-color: #0056b3;
    cursor: not-allowed;
}

.signup-button:hover:not(:disabled) {
    background-color: #0056b3;
}

.error-message {
    margin-top: 10px;
}

.login-prompt {
    margin-top: 20px;
}

.login-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline;
}

.signup-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* background: url('/assets/signUpBanner.jpg') no-repeat center center;*/
    background-size: cover;
    color:#09338e;
    text-align: center;
    padding: 20px;
}

.signup-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.signup-text p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
}

.signup-text .login-link {
    color: #09338e;
    font-weight: bold;
}
