/* Basic reset for margins and paddings */
body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #d7c9c9;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar-logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  
  .navbar-toggle {
    display: none; /* Initially hidden, shown on smaller screens */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto; /* Position hamburger on the right */
  }
  
  .navbar-toggle-icon {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
  }
  
  /* Styling for the navigation links */
  .navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allows the navbar items to grow and fill the space */
    justify-content: center; /* Centers the navbar items */
  }
  
  .navbar-item {
    color: rgb(23, 3, 3);
    text-decoration: none;
    margin: 0 15px; /* Spacing between items */
    font-size: 20px; /* Font size */
  }
  
  .navbar-item:hover {
    color: #ddd;
  }
  
  .navbar-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 15px;
  }
  
  /* Responsive design */
  @media (max-width: 500px) {
    .navbar-links {
      display: none; /* Hide the links initially on small screens */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Adjust according to the height of the navbar */
      right: 0; /* Align dropdown to the right edge */
      background-color: #333;
      padding: 10px 0;
      z-index: 10; /* Ensure dropdown is on top */
    }
  
    .navbar-links.open {
      display: flex; /* Show the links when menu is open */
    }
  
    .navbar-toggle {
      display: block; /* Show the hamburger menu on small screens */
    }
  
    .navbar-item {
      margin: 10px 0; /* Adjust spacing for mobile view */
      text-align: center;
    }
  
    .navbar-user {
      margin: 10px 0; /* Adjust spacing for mobile view */
      text-align: center;
      color: white;
    }
  }
  