/* src/components/StarRating.css */

.star-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.star {
    font-size: 24px;
    color: #ccc; /* Default star color */
}

.star.filled {
    color: #ffc107; /* Filled star color */
}
